body{
    max-width: max-content;
    margin: 0px auto 200px;
}
div.content-container img{
    width: 100%;
    display: block;
    margin: 5% auto;
}
.content-container,
.content-container > * {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(70, 92, 61);
    color: beige;
    font-size: 20px;
    max-width: 850px;
    margin: 30px auto;
}
.content-container{
    padding: 50px;
    display: inline-block;
    margin: -850px 50px 0px;
}
.content-container > .heading{
    font-size: 42px;
}
.heading,
.description {
    text-align: center;
    margin: 10px auto 50px;
}
.header-container{
    display: inline-block;
}
.header-container img{
    margin: 50px;
    max-width: 200px;
    margin-bottom: 900px;
}