img{
    width: 500px;
}
.description{
    text-align: center;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(70, 92, 61);
    color: beige;
}
ul,
ol,
.description{
    font-size: 20px;
}
h1{
    font-size: 42px;
    text-align: center;
}