.content-container img{
    width: 650px;
    display: block;
    margin: 5% auto;
}
.content-container,
.content-container > * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(70, 92, 61);
    color: beige;
    font-size: 20px;
}
div.content-container{
    margin: 50px;
    padding: 50px;
    width: 850px;
}
.content-container > .heading{
    font-size: 42px;
}
.heading,
.description {
    text-align: center;
    margin: 10px auto 50px;
}
.header-container img{
    margin: 50px auto 0px;
    max-width: 200px;
}
body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}