body {
    background-color: rgb(70, 92, 61);
}
h1,
ul {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;    width: 500px;
    background-color: rgba(245, 217, 166, 0.849);
}
h1{
    color: beige;
    background-color: rgb(11, 43, 25);
    font-size: 75px;
    width: 70px;
}
ul a{
    font-size: 50px;
    color: rgb(70, 92, 61);
}